.header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media only screen and (max-width: 600px) {
    .header {
        margin-top: 10px;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:flex-start;
        position: relative;
        row-gap: 20px;
    }
    
    .footer {
        margin-top: 20px;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logout {
        position: absolute;
        top :0;
        right: 0;
    }
    .tags {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 3px;
    }
}